@import "compass/css3";
@import "compass";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
  --main-color: #454bc3;
  --secondary-color: #0612f9;
  --select-color: #d5d0d0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  height: 100%;
}

header {
  background: #040404 url('https://i.pinimg.com/564x/cb/50/f4/cb50f45e7db240c81b77efd6e3973b54.jpg') no-repeat center center/cover;
  color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  position: relative;
  margin-top: -1cm;
}

header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

header * {
  z-index: 1;
}

h1 {
  margin: 1 0 2rem;
  color: #040404;
  display: flex;
  justify-content: center;
}

textarea {
  border: 0;
  border-radius: 10px;
  font-size: 1rem;
  width: 90%;
  text-align: left;
  padding: 0.7rem 2rem;
  resize: none;
  font-family: "Rubik", sans-serif;
  box-shadow: 0 0 0 1px #d5d0d0;
  transition: all .3s;
}

textarea:focus {
  border-color: #4069e6;
  outline: none;
  box-shadow: 0 0 20px rgba(75, 112, 226, 0.5);
}

button {
  background-color: var(--main-color);
  color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  border: 0;
  border-radius: 30px;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  margin-top: 30px;
  margin-right: 120px;
}

button:hover {
  background-color: var(--secondary-color);
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

input:focus,
button:focus {
  outline: none;
}

.encryptContainer {
  width: 1000px;
  height: 640px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  float: none !important;
  display: inline-block !important;
  box-shadow:
    10px 10px 10px var(--select-color),
    -10px -10px 10px #ffffff;
  margin-top: 35px;
  text-align: left;
  min-height: 300px !important;
}

.form-encrypt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-group-text {
  flex: 1;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
}

.form-group-text textarea {
  border-radius: 10px;
  width: 500px;
  height: 400px;
  margin-top: 50px;
  margin-right: 20px;
}

.form-group-key {
  position: relative;
  width: 700px;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  padding: 10px;
  box-sizing: border-box;
}

.form-group-select {
  border: 0;
  border-radius: 50px;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 10px;
}

.form-group-select select {
  display: block;
  margin-top: 5px;
  border-color: #beb9b9;
  border-radius: 50px;
  font-size: 1rem;
  padding: 0.7rem 2rem;
  width: 50%;
}

.form-group-select select:focus {
  border-color: #4069e6;
  outline: none;
  box-shadow: 0 0 10px rgba(75, 112, 226, 0.5);
}

.form-group-select button {
  margin-top: 32px;
  margin-right: 10px;
}

.form-group-key label {
  color: #000;
  margin-top: 5px;
  margin-bottom: 10px;
}

.form-group-key textarea {
  width: 100%;
  height: 80px;
  margin-top: 5px;
}

.button-group-1,
.button-group-2 {
  position: relative;
  max-width: 100%;
  transform: scale(1.15);
  bottom: 10px;
}

.button-group-1 {
  margin-right: 26rem;
}

.button-group-2 {
  margin-right: 12rem;
}

.form-result {
  background: #040404;
  color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  position: relative;
  margin-top: -1cm;
  font-family: "Rubik", sans-serif;
}

.form-result:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.form-group {
  position: relative;
  width: 31.25rem;
  height: 25rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  z-index: 1;
}

.form-group textarea {
  border: 0;
  border-radius: 10px;
  font-size: 1rem;
  padding: 2rem 2rem;
  width: 100%;
  height: 300px;
  width: 600px;
  text-align: left;
  padding: 1rem 2rem;
  resize: vertical;
  box-shadow: 0 0 0 1px #d5d0d0;
  transition: all .3s;
}

.form-group label {
  padding: 10px;
  font-size: 1.3rem;
}